body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.header .top-head {
  background-color: #0f7a3e;
  padding-top: 5px;
  color: white;
}

.header span {
  display: inline-block;
  padding: 5px;
}

.header .bot-head {
  text-align: center;
  padding: 10px;
}

.header .bot-head a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.banner .container-fluid {
  padding: 0;
}

.gioithieu {
  background-color: white;
  padding-top: 58px;
}

.gioithieu h3 {
  font-size: 30px;
}

.gioithieu p {
  font-size: 16px;
}

.develop {
  padding-top: 20px;
  padding-bottom: 20px;
}

.develop .box {
  border: 1px solid #ebeef0;
  padding: 25px;
  position: relative;
  text-align: center;
}

.develop .box span {
  font-size: 36px;
  font-weight: bold;
  color: red;
}

.prizes {
  background-image: url(./src/img/prize.png);
  text-align: center;
  padding: 25px;
  color: white;
}

.prizes input {
  background: transparent;
}

.prizes input::-webkit-input-placeholder {
  color: white;
}

.prizes input ::-moz-input-placeholder {
  color: white;
}

.service {
  background-image: url(./src/img/bg-svv.png);
  padding-top: 30px;
}

.service .card {
  margin-right: 10px;
}

.service .title {
  text-align: center;
  font-size: 30px;
}

.service .slick-slider {
  padding-top: 30px;
  padding-bottom: 20px;
}

.service .slick-slider h5 {
  font-weight: bold;
}

.service .slick-slider p {
  font-size: 14px;
}

.service .slider {
  position: relative;
}

.service::before {
  background-color: #e53;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
}

.card {
  position: relative;
  background: transparent;
  border: none;
}

.card .card-body {
  padding: 10px 0;
}

.hoso {
  background-color: #0f7a3e;
  background-image: url(./src/img/bg-hs.png);
}

.hoso .title {
  padding-top: 30px;
  text-align: center;
  color: white;
}

.hoso .title h2 {
  text-transform: uppercase;
}

.hoso .content-hs {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hoso .content-hs .text {
  color: white;
  position: absolute;
  bottom: 20%;
  left: 30%;
}

.ykien {
  background-image: url(./src/img/bg-yk.png);
}

.ykien .at {
  padding-top: 20px;
}

.ykien .at img {
  width: auto;
}

.ykien p {
  font-size: 16px;
}

.ykien p::after {
  display: inline-block;
  color: red;
  content: "__________________________________________________________";
}

.ykien .author {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ykien .ten {
  text-align: center;
  padding: 60px 0px 0 15px;
}

.ykien .list-ykien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.ykien .list-ykien img {
  width: 60px;
}

.ykien .list-ykien .title-list {
  padding-left: 10px;
}

.ykien .list-ykien h3 {
  font-size: 24px;
  font-weight: bold;
}

.ykien .list-ykien span {
  font-size: 14px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  bottom: 70px;
  color: #d5122f;
  border: 0;
  background: none;
  z-index: 1;
}

.slick-prev {
  left: 20px;
}

.slick-prev:after {
  content: "\f104";
  font: 40px/1 'FontAwesome';
}

.slick-next {
  right: 20px;
  text-align: right;
}

.slick-next:after {
  content: "\f105";
  font: 40px/1 'FontAwesome';
}

.slick-prev:hover:after,
.slick-next:hover:after {
  color: #7e7e7e;
}

.duan {
  background-image: url(./src/img/bg-duan.png);
  padding-bottom: 20px;
}

.duan .title {
  text-align: center;
  padding: 30px;
}

.duan .list-duan h5 {
  font-weight: bold;
  font-size: 18px;
}

.duan .list-duan p {
  font-size: 14px;
}

.doitac {
  padding-bottom: 20px;
}

.doitac .title {
  text-transform: uppercase;
  padding: 20px;
  font-size: 30px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  font-size: 14px;
}

footer span {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */